<div class="modal fade" tabindex="-1" role="dialog" id="modal_nuevo_usuario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Información de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="alert alert-danger" role="alert" style="display: none;">
                    El nombre de usuario ya se encuentra en uso
                </div>
                <form class="post-form" id="form_nuevo">
                    {% csrf_token %}
                    <input type="hidden" id="persona_id_nuevo" name="persona_id_nuevo">
                    <div class="form-group row">
                        <label for="txt_nombre_nuevo" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txt_nombre_nuevo" name="txt_nombre_nuevo" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_apellido_nuevo" class="col-sm-3 col-form-label">Apellido</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txt_apellido_nuevo" name="txt_apellido_nuevo" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_nombre_usuario_nuevo" class="col-sm-3 col-form-label">Nombre de usuario</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txt_nombre_usuario_nuevo" name="txt_nombre_usuario_nuevo" placeholder="Nombre de usuario"  required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_contra_nuevo" class="col-sm-3 col-form-label">Contraseña</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="txt_contra_nuevo" name="txt_contra_nuevo" placeholder="Ingrese contraseña"  required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_contra_repe_nuevo" class="col-sm-3 col-form-label">Repita la contraseña</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="txt_contra_repe_nuevo" name="txt_contra_repe_nuevo" placeholder="Repita contraseña"  required>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-3 pt-0">Sexo</legend>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo_nuevo" id="rd_masculino_nuevo" value="M" checked   >
                                    <label class="form-check-label" for="rd_masculino_nuevo">
                                        Masculino
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo_nuevo" id="rd_femenino_nuevo" value="F">
                                    <label class="form-check-label" for="rd_femenino_nuevo">
                                        Femenino
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-3">Activo</div>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="chk_activo_nuevo" name="chk_activo_nuevo">
                                <label class="form-check-label" for="chk_activo_nuevo">
                                    Activo
                                </label>
                            </div>
                        </div>
                    </div>
                    <fieldset class="form-group"></fieldset>
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">Rol</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="rd_administrador_nuevo" name="rol_nuevo" value="ADM">
                                <label class="form-check-label" for="rd_administrador_nuevo">
                                    Administrador
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="rd_usuario_nuevo" name="rol_nuevo" value="USR" checked>
                                <label class="form-check-label" for="rd_usuario_nuevo">
                                    Usuario
                                </label>
                            </div>
                        </div>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btn_guardar_nuevo">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block addJavascripts %}
<script type="text/javascript">

$('#form_nuevo input').on('change invalid', function() {
        var inputText = $(this).get(0);
        inputText.setCustomValidity('');
        if (!inputText.validity.valid) {
          inputText.setCustomValidity('Este campo es requerido');  
        }
    });

$('#form_nuevo').submit(function(){
    event.preventDefault();
    jQuery.ajax({
        url: "{% url 'guadarNuevo' %}",
        type: "POST",
        data: $( this ).serialize(),
        success: function(json){
            if(json == 'True'){
                location.reload(true)
            }else{
                $('.alert').show()
            }
        }
    })
    
})


</script>
{% endblock %}